{% extends 'index.html' %}
{% block contenido %}
<div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
	<div class="row">
        <div class="col-md-12 text-center">
                <h1 >404</h1>
                <p>Disculpa, la pagina que estas buscando no se ha encontrado.
                    Verifica la URL, entonces haz click en refresh en tu navegador.</p>
                    <a href="{% url 'index' %}">
                        <button class="btn-u btn-brd btn-brd-width-2 btn-brd-hover
                         btn-u-light btn-u-block rounded-4x margin-right-10 "  style="margin-bottom: 150px;">Volver</button>
                    </a>
        </div>
    </div>
</div>
{% endblock %}
