{% extends 'index.html' %}
{% block contenido %}
<div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
	<div class="row">
        <div class="col-md-12 text-center">
                <h1>500</h1>
                <p>El servidor encontro algo inesperado que no permite completar el pedido. Nos disculpamos.</p>
                    <a href="{% url 'index' %}">
                        <button class="btn btn-skype-inversed rounded-4x btn-normal"  style="margin-bottom: 150px;">Volver</button>
                    </a>
        </div>
    </div>
</div>
{% endblock %}
