{% extends "home_login.html" %}

{% block head %} 
	{{ block.super}} 
	<meta HTTP-EQUIV="REFRESH" CONTENT="4;URL={% url 'login_page' %}"> 
{% endblock %}

{% block title %}Contraseña restablecida{% endblock %}

{% block titulo %}Contraseña Restablecida{% endblock %}

{% block redes_sociales %}{% endblock %}

{% block error_form %}{% endblock %}

{% block form %}
	<p>Hemos restablecido su contraseña. Ahora puede iniciar sesion. Presione ingresar o aguarde y sera redirijido automaticamente.</p>
	<a href="{% url 'login_page' %}"><button class="login-btn">INGRESAR</button></a>
{% endblock %}

