{% extends "home_login.html" %}

{% block head %} {{ block.super}} {% endblock %}

{% block title %}Restablecer contraseña{% endblock %}

{% block titulo %}Restablecer Contraseña{% endblock %}

{% block redes_sociales %}{% endblock %}

{% block error_form %}
	{% include "home_form_errors.html" %}
{% endblock %}

{% block form %}
	<form method="post" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	{% csrf_token %}
	<p style="margin-bottom: 25px;">Ingrese el email asociado a su cuenta.</p>	
	<div class="form-group">
		<input type="email" maxlength="254" id="id_email" class="form-control" placeholder="Email" name="email">
        {{form.email.errors}}


	</div>
	<button type="submit" class="login-btn">RESTABLECER</button>

	</form>
{% endblock %}
