{% extends "home_login.html" %}

{% block head %} {{ block.super}} {% endblock %}

{% block title %}Correo para cambio de contraseña enviado{% endblock %}

{% block titulo %}Correo para cambio de contraseña enviado{% endblock %}

{% block redes_sociales %}{% endblock %}

{% block error_form %}{% endblock %}

{% block form %}
	<p>Te hemos enviado un correo para confirmar el cambio de contraseña. Recuerda hacer click en el enlace para
	reiniciar tu contraseña.</p>
<a href="{% url 'index' %}"><button type="submit" class="login-btn">INICIO</button></a>
	
{% endblock %}

