{% extends 'home_index.html' %}
{% load staticfiles%}

{%block head%}
 {{block.super}}
    <link href="{% static 'inspinia2/css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{% static 'inspinia2/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
{{form.media}}

{%endblock%}

{%block here%}
Nueva Convocatoria
{%endblock%}

{%block eventos%}
active
{%endblock%}


{%block list_here%}
<li><a href="{% url 'evento_todos' %}">Convocatorias</a></li>
<li class="active">Nueva Convocatoria</li>
{%endblock%}

{%block contenido%}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <form action="{%block action %}.{%endblock%}" method="POST" class="form-horizontal" id="form">
                    {% csrf_token %}
                    {% include 'home_form_errors.html' %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            {{form.nombre}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            {{form.descripcion}}
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        <label class="col-sm-2 control-label">Fecha</label>
                        <div class="col-sm-10">
                            <div class="input-group date">
                                <span class="input-group-addon b-r-xl">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{form.fecha}}
                            </div>
                        </div>
                    </div>
                    {% block campos_no_edit %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Categoria</label>
                        <div class="col-sm-10">
                            {{form.categoria}}
                        </div>
                    </div>
                    <div class="form-group" id="pais">
                        <label class="col-sm-2 control-label">Pais</label>
                        <div class="col-sm-10">
                            <select class="form-control b-r-xl" name="pais">
                            <option value='' selected='selected'>---------</option>
                            {%for c in countrys%}
                                <option value="{{c.id}}">{{c.name}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="provincia">
                        <label class="col-sm-2 control-label">Provincia</label>
                        <div class="col-sm-10">
                            {{form.provincia}}
                        </div>
                    </div>
                    <div class="form-group" id="ciudad">
                        <label class="col-sm-2 control-label">Ciudad</label>
                        <div class="col-sm-10">
                            {{form.ciudad}}
                        </div>
                    </div>
                    {% endblock %}
                    <div class="form-group" id="direccion">
                        <label class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            {{form.direccion}}
                        </div>
                    </div>
                    <div class="form-group" id="cupo">
                        <label class="col-sm-2 control-label">Cupo</label>
                        <div class="col-sm-10">
                            {{form.cupo}}
                            <span class="help-block m-b-none">
                                {% block texto_ayuda_cupo %}Cantidad máxima de personas que pueden asistir.{%endblock%}
                            </span>
                        </div>
                    </div>
                    {% block campos_no_edit2 %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo</label>
                        <div class="col-sm-10">
                            {{form.tipo_evento}}
                        </div>
                    </div>
                    {% endblock %}
                    <div class="form-group" id="precio">
                        <label class="col-sm-2 control-label">Precio</label>
                        <div class="col-sm-10">
                            {{form.precio}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Imagen</label>
                        <div class="col-sm-10">
                            {{form.imagen}}
                             <span class="help-block m-b-none">
                                 Tamaño recomendado 360x400
                            </span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"  class="btn btn-success" id="btn">{% block btn %}Nuevo Evento!{%endblock%}</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block javascript_custom%}
<!-- Data picker -->
<script src="{% static 'inspinia2/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'inspinia2/js/plugins/datapicker/bootstrap-datepicker.es.js' %}" charset="UTF-8"></script>
 <!-- Sweet alert -->
<script src="{% static 'inspinia2/js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script  src="{% static 'evento/js/evento_nuevo.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#pais").on("change",get_provincias);
        get_provincias();

        function get_provincias(){
            let id_pais = $('select[name=pais]').val();
            if(id_pais){
                $("#id_provincia").html("");
                let request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_regions' %}",
                    data:{
                        "id_country" : id_pais
                    },
                });
                request.done(function(response){
                    $("#id_provincia").html(response.regions);
                    $("#id_provincia").trigger("change");
                })
            }else{
                 $("#id_provincia").html("<option value='' selected='selected'>---------</option>");
                 $("#id_provincia").trigger("change");
            }
        };

        $("#id_provincia").on("change",get_cities);
        get_cities();

        function get_cities(){
            let id_region = $('select[name=provincia]').val();
            if(id_region){
                $("#id_ciudad").html("");
                let request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_cities' %}",
                    data:{
                        "id_region" : id_region
                    },
                });
                request.done(function(response){
                    $("#id_ciudad").html(response.cities);
                    $("#id_ciudad").trigger("change");
                })
            }else{
                 $("#id_ciudad").html("<option value='' selected='selected'>---------</option>");
                 $("#id_ciudad").trigger("change");
            }
        };





    });
</script>
{%endblock%}
