{% extends 'index.html' %}
{% load staticfiles %}
{% block contenido %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="text-center">ULTIMAS CONVOCATORIAS</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Team v1 ===-->
<div class="promo-bg-pattern-v1-dark promo-bg-fixed parallaxBg">
    <div class="container content-md team-v1 ">
        <ul class="list-unstyled row">
            {%for evento in eventos%}
            <li class="col-sm-4 col-xs-12 md-margin-bottom-30">
                <div class="team-img">
                    <img class="img-responsive" src="{{evento.get_imagen_url}}" alt="{{evento.get_nombre}}">
                    <ul>
                        <li><a href="{% url 'evento_seleccionar' evento_id=evento.id %}">
                            VER MAS</a>
                        </li>
                    </ul>
                </div>
                <h3><a href="{% url 'evento_seleccionar' evento_id=evento.id %}">{{evento.get_nombre}}</a></h3>
                <h4> {{evento.get_fecha}}</h4>
                <p>{{evento.get_categoria}}-{{evento.get_tipo}}</p>
            </li>
            {%endfor%}
        </ul>
</div>
</div>
{% endblock %}

{%block javascript%}
<script type="text/javascript" src="{% static 'unify/js/plugins/style-switcher.js'%}"></script>
<script>
    $(document).ready(function(){
        StyleSwitcher.initStyleSwitcher();
    });
</script>
{%endblock%}