{% extends 'index.html' %}
{% load staticfiles %}
{% block contenido %}

<!--=== About Me ===-->
<div class="promo-bg-pattern-v1-dark promo-bg-fixed parallaxBg">
	<div class="container content-md">
		<div class="row about-me">
			<div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
				<div class="box-shadow shadow-effect-2">
					<img class="img-responsive img-bordered full-width" src="{{evento.get_imagen_url}}"  width="360" height="400"
						 alt="">
				</div>
			</div>

			<div class="col-sm-8">
				<div class="overflow-h">
					<div class="pull-left">
						<h2><strong>{{evento.get_nombre}}</strong></h2>
						<span><strong>{{evento.get_fecha}}</strong></span>
						<span><strong>{{evento.get_categoria}} - {{evento.get_tipo}}</strong></span>
					</div>
				</div>
				{% if evento.get_categoria.es_presencial%}
					<p>¡Aun quedan <strong>{{evento.get_cupo}}</strong> cupos disponibles!</p>
				{%endif%}
				<p>{{evento.get_descripcion}}</p>
				{% if evento.get_categoria.es_presencial%}
					<p>Este evento se realizara en <strong>{{evento.get_ciudad}}</strong>,{{evento.get_direccion}}. </p>
				{%endif%}
				 {% if evento.get_tipo.es_pago %}
                 	<p>El precio de la entrada es de <strong>${{evento.get_precio}}ARS</strong></p>
				{%endif%}
				{% if evento.get_estado.es_disponible %}
					{% if evento.get_tipo.es_pago %}
						<a href="{% url 'evento_registro' evento_id=evento.id %}" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover
								 btn-u-light btn-u-block rounded-4x margin-right-10" >Comprar Entrada</a>
					{%else%}
						<a href="{% url 'evento_registro' evento_id=evento.id %}" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover
								 btn-u-light btn-u-block rounded-4x margin-right-10" >Reservar Lugar</a>
					{%endif%}
				{%else%}
					<a class="btn-u btn-brd btn-brd-width-2 btn-brd-hover
								 btn-u-light btn-u-block rounded-4x margin-right-10" style=" color:#e50914;
								border-color:#e50914;">
						Agotado</a>
				{% endif %}

			</div>
		</div>
	</div>
</div>
<!--=== End About Me ===-->
{% endblock %}
{%block javascript%}
<script type="text/javascript" src="{% static 'unify/js/plugins/style-switcher.js'%}"></script>
<script>
    $(document).ready(function(){
        StyleSwitcher.initStyleSwitcher();
    });
</script>
{%endblock%}