{% extends 'index.html' %}
{% load staticfiles %}
{% block contenido %}
    <div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 >No hay ninguna convocatoria transmitiendo en vivo en este momento</h1>
                <p >Puedes verificar en las convocatorias disponibles cuando es el proximo evento</p>
                <a href="{% url 'evento_lista' %}" style="margin-top: 30px; ">
                    <button class="btn btn-skype-inversed rounded-4x btn-normal" >
                        Ver Convocatorias</button></a>
            </div>
        </div>
    </div>
{% endblock %}