{% extends 'index.html' %}
{% load staticfiles %}
    {% block contenido %}
  <div class="promo-bg-pattern-v1-dark promo-bg-fixed content-lg parallaxBg">
      <div class="container">
      <div class="row blog-page">
            <div class="col-md-6 ">
                <div class="blog margin-bottom-40">
                    <div class="blog-img">
                        {%if donacion.get_imagen %}<img src="{{donacion.get_imagen}}" alt="{{evento.get_nombre}}">{%else%}<img src="{% static 'unify-ecommerce/img/blog/14.jpg'%}" alt="{{donacion.get_titulo}}" class="img-responsive img-rounded center-block">{%endif%}
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center">
                    <h2><strong>{{donacion.get_titulo}}</strong></h2>
                    <p >{{donacion.get_descripcion}}</p>
                    <form action="." method="POST" class="margin-top-60">
                    {% csrf_token %}
                    <input type="number" min="1" name="cantidad" id="cantidad_id" class="form-control center-block" style="background-color:#FFF;color:#000;margin-top:15px;border-radius:10px;margin-bottom:15px;" placeholder="Introduce la cantidad a donar" required><br>
                        <a href="{% url 'pay_donacion' %}">
                            <button class="btn btn-skype-inversed rounded-4x btn-normal center-block" style="width:120px;">
                              <i class="fa fa-plus-sign"></i>¡Donar!
                            </button>
                        </a>
                      </form>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}