{% extends 'index.html' %}
{% load staticfiles %}
    {% block contenido %}
<div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
	<div class="row">
				<div class="col-md-12 text-center">
					<div class="" >
						<h1 >¡Gracias!</h1>
						<p>Muchas gracias por donar ${{donacion.get_monto}}.</p>
						<p>En nuestro <a href="https://www.blog.mdvglobal.org">Blog</a> podras ver en que ayudo tu contribucion.</p>
						<p> Gracias por tu colaboracion.</p>
							<a href="http://www.blog.mdvglobal.org">
								<button class="btn btn-skype-inversed rounded-4x btn-normal"  style="margin-bottom: 150px;">Blog</button>
							</a>
					</div>
				</div>
			</div>
</div>
{% endblock %}