{% extends 'index.html' %}
{% load staticfiles %}
    {% block contenido %}
<div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
	<div class="row">
				<div class="col-md-12 text-center">
					<div class="" >
						<h1 >¡Gracias!</h1>
						<p>Muchas gracias {{donacion.get_nombre}} donaste ${{donacion.get_monto}}.</p><p> Gracias por tu colaboracion.</p>
							<a href="{% url 'index' %}">
								<button class="btn-u btn-brd btn-brd-width-2 btn-brd-hover
								 btn-u-light btn-u-block rounded-4x margin-right-10 "  style="margin-bottom: 150px;">Volver</button>
							</a>
					</div>
				</div>
			</div>
</div>
{% endblock %}