<!--&lt;!&ndash; Wait Block &ndash;&gt;-->
<div class="g-popup-wrapper">
		<div class="g-popup g-popup--subscribe2">
			<div class="g-popup--subscribe2-message" style="background-color:#00afed ;" >
				<span class="icon-envelope-letter icon" aria-hidden="true"></span>

				<h3 style="color:#FFF;">Suscríbete</h3>
				<p style="color:#FFF;">Unete a nuestra lista de correo para estar al tanto de las ultimas novedades.</p>
			</div>
			<form action="#" class="sky-form" style="background-color:#00a2ed;">
				<div class="row">
					<section class="col-sm-9">
						<label class="input">
							<input type="email" id="email-popup" placeholder="Email" class="form-control" style="background-color:#0092ed; border-color:#0082ed; color:#FFF;">
						</label>
					</section>
					<section class="col-sm-3">
                        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe2__close" style="background-color:#00a2ed; ">
                        	<button class="btn btn-default" id="btn-popup" style="color:#0082ed; background-color:#fff; border-color:#0082ed; margin-top:13px;" type="button">Suscribirse</button>
                        </a>
					</section>
				</div>
			</form>
			<a href="javascript:void(0);" class="g-popup__close g-popup--subscribe2__close"><span class="icon-close" aria-hidden="true"></span></a>
		</div>
	</div>
<!-- End Wait Block -->
