<!DOCTYPE html>
{%load staticfiles %}
{% load google_analytics %}
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->
<head>
	<title>Tienda | Manantial de Vida</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'common/img/favicon.png' %}" />

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/css/shop.style.css' %}">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="{% static 'unify-ecommerce/css/headers/header-v5.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/css/footers/footer-v4.css' %}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/animate.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/line-icons/line-icons.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/scrollbar/css/jquery.mCustomScrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/revolution-slider/rs-plugin/css/settings.css' %}">
    <link href="{% static 'inspinia2/css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="{% static 'unify-ecommerce/css/theme-colors/dark-blue.css' %}" id="style_color">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="{% static 'unify-ecommerce/css/custom.css' %}">
	<link rel="stylesheet" href="{% static 'unify/plugins/brand-buttons/brand-buttons.css'%}">
	<link rel="stylesheet" href="{% static 'unify/plugins/brand-buttons/brand-buttons-inversed.css'%}">


	{%block head %}
	{%endblock%}
	{% google_analytics %}
</head>

<body class="header-fixed">

	<div class="wrapper">
		<!--=== Header v5 ===-->
		<div class="header-v5 header-static" style="background-color:#eeeeee;">
			<!-- Topbar v3 -->
			<div class="topbar-v3">
				<div class="search-open">
					<div class="container">
						<form action="{% url 'tienda_productos_busqueda'%}" method="GET" id="form">
						<input type="text" class="form-control" placeholder="Buscar" name="q" id="q_id" value="{{q}}">
						<input type="hidden" name="tipo" id="tipo_id" value="{{tipo_q}}">
						<input type="hidden" name="categoria" id="categoria_id" value="{{categoria_q}}">
    					<input type="hidden" name="comienzo" id="comienzo_id" value="{{comienzo}}">
    					<input type="hidden" name="orden" id="orden_id" value="{{orden}}">
						<div class="search-close"><i class="icon-close"></i></div>
						</form>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<!-- Topbar Navigation -->
							<ul class="left-topbar">
								<li>
									<a>Moneda (ARS)</a>
								</li>
							</ul><!--/end left-topbar-->
						</div>
						<div class="col-sm-6">
							<ul class="list-inline right-topbar pull-right">
								{% if not  user.is_authenticated %}
								<li><a href="{% url 'login_page' %}">Iniciar Sesion</a> | <a href="{% url 'signup_page' %}">Registrarse</a></li>
								{%else%}
								<li>{{user.get_full_name}}</li>
								{%endif%}
								<li><i class="search fa fa-search search-button"></i></li>
							</ul>
						</div>
					</div>
				</div><!--/container-->
			</div>
			<!-- End Topbar v3 -->

			<style>
				.color-e{
					background-color:#eee !important;
				}
			</style>
			<!-- Navbar -->
			<div class="navbar navbar-default mega-menu color-e" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'index'%}">
							<img id="logo-header" class="img-responsive" width="35" height="47" src="{% static 'unify-ecommerce/img/logo.png' %}" alt="Logo" style="width:35px; height:47px;">
						</a>
					</div>

					<!-- Shopping Cart -->
					<div class="shop-badge badge-icons pull-right">
						<a href="#"><i class="fa fa-shopping-cart"></i></a>
						<span class="badge badge-sea rounded-x">{{compra.get_detalle|length}}</span>
						<div class="badge-open">
							<ul class="list-unstyled mCustomScrollbar" data-mcs-theme="minimal-dark">
								{%for detalle in compra.get_detalle %}
								<li>
									<img src="{{detalle.get_producto.get_imagen2_url}}" alt="{{detalle.get_producto.get_nombre}}" width="180" height="180">
									<a href="{% url 'tienda_eliminar_detalle' detalle_id=detalle.id %}"><button type="button" class="close">×</button></a>
									<div class="overflow-h">
										<span>{{detalle.get_producto.get_nombre}}</span>
										<small>{{detalle.get_cantidad}} x ${{detalle.get_producto.get_precio}}</small>
									</div>
								</li>
								{%endfor%}
							</ul>
							<div class="subtotal">
								<div class="overflow-h margin-bottom-10">
									<span>Total</span>
									<span class="pull-right subtotal-cost">${{compra.get_total}}</span>
								</div>
								{% if compra %}
								<div class="row">
									<div class="col-xs-6">
										<a href="{% url 'tienda_carrito' %}" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">Ver Carrito</a>
									</div>
									<div class="col-xs-6">
										<a href="{% url 'pay_tienda' compra_id=compra.id%}" class="btn-u btn-u-sea-shop btn-block">Pagar</a>
									</div>
								</div>
								{%endif%}
							</div>
						</div>
					</div>
					<!-- End Shopping Cart -->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse ">
						<!-- Nav Menu -->
						<ul class="nav navbar-nav " style="margin-left:auto; margin-rigth:auto;">
							<!-- Pages -->
							<!-- Gifts -->
							{%for tipo in tipos%}
							<li class="dropdown mega-menu-fullwidth">
								<a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
									{{tipo}}
								</a>
								<ul class="dropdown-menu color-e">
									<li>
										<div class="mega-menu-content">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-sm-12 col-xs-12 md-margin-bottom-30">
														<h3 class="mega-menu-heading">{{tipo}}</h3>
														<p>Estos son los productos mas vendidos. O puedes ver todos presionando en el siguiente boton.</p>
														<a href="{% url 'tienda_productos_busqueda' %}?tipo={{tipo}}"><button type="button" class="btn-u btn-u-dark">Ver todos</button></a>
													</div>
													{%for producto in tipo.mas_vendidos%}
													<div class="col-md-3 col-sm-4 col-xs-4 md-margin-bottom-30">
														<a href="{% url 'producto_ver_mas' producto_id=producto.id %}"><img class="product-offers img-responsive" src="{{producto.get_imagen2_url}}" alt="{{producto.get_nombre}}" width="250" height="250"></a>
													</div>
													{%endfor%}
												</div><!--/end row-->
											</div><!--/end container-->
										</div><!--/end mega menu content-->
									</li>
								</ul><!--/end dropdown-menu-->
							</li>
							{%endfor%}
							<!-- End Gifts -->
						</ul>
						<!-- End Nav Menu -->
					</div>
				</div>
			</div>
			<!-- End Navbar -->
		</div>
		<!--=== End Header v5 ===-->

{%block contenido%}

<!--=== Product Content ===-->
<div class="container " style="margin-top:30px;">

	<div class="heading heading-v1 margin-bottom-40">
		<h2>Ultimos productos agregados</h2>
	</div>

	<!--=== Illustration v2 ===-->
	<div class="row illustration-v2">
		{% for producto in productos %}
		<div class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30" style="margin-top:30px;">
			<div class="product-img">
				<a href="{% url 'producto_ver_mas' producto_id=producto.id %}">
					<img class="full-width img-responsive" width="370" height="555" src="{{producto.get_imagen_url}}"
						 alt="{{producto.get_nombre}}">
				</a>
				<a class="product-review" href="{% url 'producto_ver_mas' producto_id=producto.id %}">Ver mas</a>
				<a class="add-to-cart" href="{% url 'tienda_agregar_carrito' producto_id=producto.id%}"><i class="fa fa-shopping-cart"></i>Agregar al carrito</a>
				{% if not producto.hay_stock_s %}
				<div class="shop-rgba-red rgba-banner">Sin stock</div>
				{%elif producto.subido_este_mes %}
				<div class="shop-rgba-dark-green rgba-banner">Nuevo</div>
				{%endif%}
			</div>
			<div class="product-description product-description-brd" >
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left" style="max-width:171px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">
						<h4 class="title-price"><a href="{% url 'producto_ver_mas' producto_id=producto.id %}" >{{producto.get_nombre}}</a></h4>
						<span class="gender text-uppercase">{{producto.get_tipo}}</span>
						<span class="gender">{{producto.get_categoria}}</span>
					</div>
					<div class="product-price">
						{% if producto.get_descuento %}
							<span class="title-price">${{producto.get_precio_descuento}}</span>
							<span class="title-price line-through">${{producto.get_precio}}</span>
						{%else%}
							<span class="title-price">${{producto.get_precio}}</span>
						{%endif%}

					</div>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	<!--=== End Illustration v2 ===-->
</div>
<!--=== End Product Content ===-->

	<div class="container content-md">
		<!--=== End Product Service ===-->

		<!--=== Illustration v4 ===-->
		<div class="row illustration-v4 margin-bottom-40">
			<div class="col-md-4">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>MAYORES OFERTAS</h2>
				</div>
				{%for producto in mayores_ofertas %}
				{%if producto.get_descuento %}
					{%include 'aux_productos.html'%}
				{%endif%}
				{%endfor%}
				{%if not mayores_ofertas%}
				<p>No hay ofertas disponibles en este momento.</p>
				{%endif%}

			</div>
			<div class="col-md-4">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>Mas Vendidos</h2>
				</div>
				{%for producto in mas_vendidos%}
					{%include 'aux_productos.html'%}
				{%endfor%}
			</div>
			<div class="col-md-4 padding">
				<div class="heading heading-v1 margin-bottom-20">
					<h2>Mas buscados</h2>
				</div>
				{%for producto in mas_buscados%}
					{%include 'aux_productos.html'%}
				{%endfor%}
			</div>
		</div><!--/end row-->
		<!--=== End Illustration v4 ===-->
	</div><!--/end cotnainer-->
{%endblock%}
	<!--=== Shop Suvbscribe ===-->
	<div class="shop-subscribe">
		<div class="container">
			<div class="row">
				<div class="col-md-8 md-margin-bottom-20">
					<h2>Suscribase a nuestro <strong>newsletter</strong></h2>
				</div>
				<div class="col-md-4">
					<div class="input-group">
							<input type="text" class="form-control" name="email" id="email" placeholder="Email..." >
						<span class="input-group-btn">
							<button class="btn" id="btn-email" type="button"><i class="fa fa-envelope-o"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div><!--/end container-->
	</div>
	<!--=== End Shop Suvbscribe ===-->

	<!--=== Footer v4 ===-->
	<div class="footer-v4">
		<div class="footer">
			<div class="container">
				<div class="row">
					<!-- About -->
					<div class="col-md-4 md-margin-bottom-40">
						<a href="{%url 'index'%}" ><img class="footer-logo img-responsive"   src="{% static 'unify/img/logo3-dark.png' %}" alt="{{company}}" width="40" height="45"></a>
						<br>
						<ul class="list-unstyled address-list margin-bottom-20">
							<li><i class="fa fa-angle-right"></i>Suipacha 2357, Córdoba Capital, Argentina</li>
							<li><i class="fa fa-angle-right"></i>Telefono: +54 (351) 4515833</li>
							<li><i class="fa fa-angle-right"></i>Email: <a href="mailto:mdv@manantialdevidaonline.com">mdv@manantialdevidaonline.com</a></li>
						</ul>

						<ul class="list-inline shop-social">
							<li><a target="_blank" href="https://www.facebook.com/pg/MDV-Global-748596145323509"><i class="fb rounded-md fa fa-facebook"></i></a></li>
							<li><a target="_blank" href="https://twitter.com/mdvglobal"><i class="tw rounded-md fa fa-twitter"></i></a></li>
							<li><a target="_blank" href="https://www.instagram.com/mdvgloblal/"><i class="gp rounded-md fa fa-instagram"></i></a></li>
							<li><a target="_blank" href="https://www.youtube.com/channel/UCJKK7XDwVZQUPAOj7wbOLXw"><i class="yt rounded-md fa fa-youtube"></i></a></li>
						</ul>
					</div>
					<!-- End About -->

				</div><!--/end row-->
			</div><!--/end continer-->
		</div><!--/footer-->

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>
							2017 &copy; {{company}}. Todos los derechos reservados. | <a href="www.flumetrix.com">Hecho con <i class="fa fa-heart"></i> por Flumetrix</a>
						</p>
					</div>
					<div class="col-md-6">
						<ul class="list-inline sponsors-icons pull-right">
							<li><i class="fa fa-cc-paypal"></i></li>
							<li><i class="fa fa-cc-visa"></i></li>
							<li><i class="fa fa-cc-mastercard"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--/copyright-->
	</div>
	<!--=== End Footer v4 ===-->
</div><!--/wrapper-->

	{% if not user.is_authenticated %}
	{% include 'popup_newsteller.html'%}
	{%endif%}

<!-- JS Global Compulsory -->
<script src="{% static 'unify-ecommerce/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- JS Implementing Plugins -->
<script src="{% static 'unify-ecommerce/plugins/back-to-top.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/smoothScroll.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/jquery.parallax.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'unify-ecommerce/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- JS Customization -->
<script src="{% static 'unify-ecommerce/js/custom.js' %}"></script>
<!-- JS Page Level -->
<script src="{% static 'unify-ecommerce/js/shop.app.js' %}"></script>
<script src="{% static 'unify-ecommerce/js/plugins/owl-carousel.js' %}"></script>
<script src="{% static 'unify-ecommerce/js/plugins/revolution-slider.js' %}"></script>
<script src="{% static 'unify-ecommerce/js/plugins/style-switcher.js' %}"></script>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initScrollBar();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		RevolutionSlider.initRSfullWidth();
		StyleSwitcher.initStyleSwitcher();
	});
</script>
<!--[if lt IE 9]>
	<script src="{% static 'unify-ecommerce/plugins/respond.js' %}"></script>
	<script src="{% static 'unify-ecommerce/plugins/html5shiv.js' %}"></script>
	<script src="{% static 'unify-ecommerce/js/plugins/placeholder-IE-fixes.js' %}"></script>
	<![endif]-->
	<script src="{% static 'inspinia2/js/plugins/sweetalert/sweetalert.min.js' %}"></script>

	<script>
		$(document).ready(function(){
			$("#btn-email").click(function(){
				let email = $("#email").val();
				if(email){
			 		let request = $.ajax({
						type: "GET",
						url: "{%url 'suscribirse' %}",
						data:{
							"email": email
						},
					});
					request.done(function(response){
						if(response.suscripto==="true"){
							swal("Felicitaciones", "Se ha suscripto para recibir nuestras ultimas novedades", "success");

						}else{
							swal("Error", "No hemos podido suscribirlo", "error");
						}
					})
				}else{
					 swal({
						title: "Debe ingresar un correo",
						text: "Ingrese el correo con el que desea suscribirse."
					});
				}
			});
		});
	</script>
{%block javascript %}
{%endblock%}
</body>
</html>
