{%extends 'tienda_productos.html'%}
{% load staticfiles%}

{%block head%}
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/master-slider/masterslider/style/masterslider.css' %}">
<link rel='stylesheet' href="{% static 'unify-ecommerce/plugins/master-slider/masterslider/skins/default/style.css' %}">
{%endblock%}

{%block contenido%}
<!--=== Shop Product ===-->
<div class="shop-product">
    <!-- Breadcrumbs v5 -->
    <div class="container">
        <ul class="breadcrumb-v5">
            <li><a href="{%url 'tienda_productos' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{%url 'tienda_productos_busqueda'%}?tipo={{producto.get_tipo}}">{{producto.get_tipo}}</a></li>
            <li class="active">{{producto.get_nombre}}</li>
        </ul>
    </div>
    <!-- End Breadcrumbs v5 -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="ms-showcase2-template">
                    <!-- Master Slider -->
                    <div class="master-slider ms-skin-default" id="masterslider">
                        <div class="ms-slide">
                            <img class="ms-brd" width="550" height="560"  src="{% static 'unify-ecommerce/img/blank.gif'%}" data-src="{{producto.get_imagen3_url}}" alt="{{producto.get_nombre}}_1">
                            <img class="ms-thumb" width="180" height="180" src="{{producto.get_imagen3_url}}" alt="{{producto.get_nombre}}_2">
                        </div>
                        <div class="ms-slide">
                            <img src="{% static 'unify-ecommerce/img/blank.gif' %}" width="550" height="560" data-src="{{producto.get_imagen_url}}" alt="{{producto.get_nombre}}_3">
                            <img class="ms-thumb"  width="180" height="180" src="{{producto.get_imagen_url}}" alt="{{producto.get_nombre}}_3">
                        </div>
                        <div class="ms-slide">
                            <img src="{% static 'unify-ecommerce/img/blank.gif' %}" width="550" height="560" data-src="{{producto.get_imagen2_url}}" alt="{{producto.get_nombre}}_4">
                            <img class="ms-thumb img-responsive"  width="180" height="180" src="{{producto.get_imagen2_url}}" alt="{{producto.get_nombre}}_5">
                        </div>
                    </div>
                    <!-- End Master Slider -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="shop-product-heading">
                    {% if sin_stock%}
                    <h2 style="color:red">No hay stock para su pedido</h2>
                    {%endif%}
                    <h2>{{producto.get_nombre}}</h2>
                </div><!--/end shop product social-->


                <p>{{producto.get_descripcion}}</p><br>

                <ul class="list-inline shop-product-prices margin-bottom-30">
                    {% if producto.get_descuento %}
                    <li class="shop-red">${{producto.get_precio_descuento}}</li>
                    <li class="line-through">${{producto.get_precio}}</li>
                    {%else%}
                    <li class="title-price">${{producto.get_precio}}</li>
                    {%endif%}
                </ul><!--/end shop product prices-->
                {% if producto.get_tipo.es_libro_fisico%}
                <h3>DISPONIBLE SOLO EN ARGENTINA</h3>
                <h3 class="shop-product-title">Cantidad</h3>
                {% endif%}
                <div class="margin-bottom-40">
                    <form name="f1" class="product-quantity sm-margin-bottom-20" method="GET" action="{% url 'tienda_agregar_carrito' producto_id=producto.id%}">
                        {% if producto.get_tipo.es_libro_fisico%}
                        <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty();' value='-'>-</button>
                        <input type='text' class="quantity-field" name='cantidad' value="1" id='qty'/>
                        <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty").value++;' value='+'>+</button>
                        {% endif%}
                    <button type="submit" class="btn-u btn-u-sea-shop btn-u-lg">Agregar al carrito</button>
                    </form>
                </div><!--/end product quantity-->
                <br>
                <br>
                <p class="wishlist-category"><strong>Categoria:</strong><a href="{%url 'tienda_productos_busqueda' %}?categoria={{producto.get_categoria}}">{{producto.get_categoria}}</a></p>
            </div>
        </div><!--/end row-->
    </div>
</div>
<!--=== End Shop Product ===-->

<!--=== Content Medium ===-->
<div class="content-md container">
    <!--=== Product Service ===-->
    <div class="row margin-bottom-60">
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="fa fa-lock"></i>
            </div>
            <div class="product-service-in">
                <h3>Pago Seguro</h3>
            </div>
        </div>
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="icon-earphones-alt"></i>
            </div>
            <div class="product-service-in">
                <h3>Servicio Personalizado</h3>
            </div>
        </div>
        <div class="col-md-4 product-service">
            <div class="product-service-heading">
                <i class="fa fa-truck"></i>
            </div>
            <div class="product-service-in">
                {% if producto.get_tipo.es_libro_fisico%}
                <h3>Envio Gratis</h3>
                {%else%}
                <h3>Descarga Inmediata</h3>
                {%endif%}
            </div>
        </div>
    </div><!--/end row-->
</div>
    <!--=== End Product Service ===-->

<!--=== Illustration v2 ===-->
<div class="container">
    <div class="heading heading-v1 margin-bottom-20">
        <h2>Productos que mas gustan</h2>
    </div>

    <div class="illustration-v2 margin-bottom-60">
        <div class="customNavigation margin-bottom-25">
            <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
            <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
        </div>

        <ul class="list-inline owl-slider-v4">
            {% for producto in productos_que_gustan %}
            <li class="item">
                <a href="{% url 'producto_ver_mas' producto_id=producto.id %}"><img class="img-responsive" width="180" height="180" src="{{producto.get_imagen2_url}}" alt="{{producto.get_nombre}}"></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="{% url 'producto_ver_mas' producto_id=producto.id %}">{{producto.get_nombre}}</a></h4>
                        {% if producto.get_descuento %}
                        <span class="title-price">${{producto.get_precio_descuento}}</span>
                        <span class="title-price line-through">${{producto.get_precio}}</span>
                        {%else%}
                        <span class="title-price">${{producto.get_precio}}</span>
                        {%endif%}
                    </div>
               </div>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
<!--=== End Illustration v2 ===-->
{%endblock%}

{%block javascript%}
<!-- Master Slider -->
	<script src="{% static 'unify-ecommerce/plugins/master-slider/masterslider/masterslider.min.js' %}"></script>
	<script src="{% static 'unify-ecommerce/plugins/master-slider/masterslider/jquery.easing.min.js' %}"></script>
    <script src="{% static 'unify-ecommerce/js/plugins/master-slider.js' %}"></script>
	<script src="{% static 'unify-ecommerce/js/forms/product-quantity.js' %}"></script>
    <script>
		jQuery(document).ready(function() {
			MasterSliderShowcase2.initMasterSliderShowcase2();
		});
	</script>
{%endblock%}
