{%extends 'tienda_carrito.html' %}

{%block envio_carrito%}
<div class="shop-badge badge-icons pull-right">
    <a href="#"><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-sea rounded-x">0</span>
    <div class="badge-open">
        <ul class="list-unstyled mCustomScrollbar" data-mcs-theme="minimal-dark">
        </ul>
        <div class="subtotal">
            <div class="overflow-h margin-bottom-10">
                <span>Total</span>
                <span class="pull-right subtotal-cost">$0</span>
            </div>
        </div>
    </div>
</div>
<!-- End Shopping Cart -->

{%endblock%}


{% block btn_comprar%}
{%endblock%}

{% block pago%}
<h3>Ya ha pagado sus productos</h3>
{%endblock%}

{%block envio%}

<h2>¡Felicitaciones, su compra se realizo con exito!</h2>
{% ifequal compra.get_user user%}
    {%for detalle in compra.get_detalle%}
    <p><strong>{{detalle.get_producto.get_nombre}}:</strong>
        {%if detalle.get_producto.get_tipo.es_libro_fisico%}
            Se le avisara cuando se realize el envio.
        {%else%}
        <a href="{{producto.get_archivo}}">Descargar.</a>
        {%endif%}
    </p>
    {%endfor%}
{%else%}
    {%for detalle in compra.get_detalle%}
    <p><strong>{{detalle.get_producto.get_nombre}}:</strong> {%if detalle.get_producto.get_tipo.es_libro_fisico%}
    Se le avisara cuando se realize el envio.{%else%}Link enviado al email.{%endif%}</p>
    {%endfor%}
{%endifequal%}
{%endblock%}

{%block javascript%}
{{block.super}}
<script>
    $(document).ready(function(){
        $(".actions > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1)").click();
        $(".actions > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1)").click();
    });
</script>

{%endblock%}
