{% extends 'home_login.html'%}

{% block title %}Completa tus datos{% endblock %}

{% block titulo %}Completa tus datos{% endblock %}

{%block redes_sociales %}
{%endblock%}


{%block form%}
    <form method="post" action=".">
        {% csrf_token %}
        {% include "home_form_errors.html" %}
        <div class="form-group">
            {{form.nombre}}
        </div>
        <div class="form-group">
            {{form.email}}
        </div>
        <div class="form-group">
            <select class="form-control b-r-xl" name="pais" id="id_pais">
                <option value='' selected='selected'>-Selecciona tu Pais-</option>
                {%for c in countrys%}
                    <option value="{{c.id}}">{{c.name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            {{form.provincia}}
        </div>
        <div class="form-group">
            {{form.ciudad}}
        </div>
        <div class="form-group">
            {{form.direccion}}
        </div>
        <button type="submit" class="login-btn">Agregar al Carrito</button>
    </form>

<script>
    $(document).ready(function(){
        $("#id_pais").on("change",get_provincias);
        get_provincias();

        function get_provincias(){
            let id_pais = $('select[name=pais]').val();
            if(id_pais){
                $("#id_provincia").html("");
                let request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_regions' %}",
                    data:{
                        "id_country" : id_pais
                    },
                });
                request.done(function(response){
                    $("#id_provincia").html(response.regions);
                    $("#id_provincia").trigger("change");
                })
            }else{
                 $("#id_provincia").html("<option value='' selected='selected'>-Selecciona tu Provincia-</option>");
                 $("#id_provincia").trigger("change");
            }
        };


        $("#id_provincia").on("change",get_cities);
        get_cities();

        function get_cities(){
            let id_region = $('select[name=provincia]').val();
            if(id_region){
                $("#id_ciudad").html("");
                let request = $.ajax({
                    type: "GET",
                    url: "{% url 'get_cities' %}",
                    data:{
                        "id_region" : id_region
                    },
                });
                request.done(function(response){
                    $("#id_ciudad").html(response.cities);
                    $("#id_ciudad").trigger("change");
                })
            }else{
                 $("#id_ciudad").html("<option value='' selected='selected'>---------</option>");
                 $("#id_ciudad").trigger("change");
            }
        };





    });
</script>
{%endblock%}
