{%extends 'tienda_productos.html'%}
{% load staticfiles%}

{%block head%}
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'unify-ecommerce/plugins/master-slider/masterslider/style/masterslider.css' %}">
<link rel='stylesheet' href="{% static 'unify-ecommerce/plugins/master-slider/masterslider/skins/default/style.css' %}">
{%endblock%}

{%block contenido%}
<!--=== Shop Product ===-->
<div class="shop-product">
    <!-- Breadcrumbs v5 -->
    <div class="container">
        <ul class="breadcrumb-v5">
            <li><a href="{%url 'tienda_productos' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{%url 'tienda_productos_busqueda'%}?tipo={{producto.get_tipo}}">{{producto.get_tipo}}</a></li>
            <li class="active">{{producto.get_nombre}}</li>
        </ul>
    </div>
    <!-- End Breadcrumbs v5 -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="ms-showcase2-template">
                    <!-- Master Slider -->
                    <div class="master-slider ms-skin-default" id="masterslider">
                        <div class="ms-slide">
                            <img class="ms-brd" src="{% static 'unify-ecommerce/img/blank.gif'%}" data-src="{%if producto.get_imagen%}{{producto.get_imagen}}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="{{producto.get_nombre}}">
                            <img class="ms-thumb" src="{%if producto.get_imagen%}{{producto.get_imagen%}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="thumb">
                        </div>
                        <div class="ms-slide">
                            <img src="{% static 'unify-ecommerce/img/blank.gif' %}" data-src="{%if producto.get_imagen2%}{{producto.get_imagen2}}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="{{producto.get_nombre}}1">
                            <img class="ms-thumb" src="{%if producto.get_imagen%}{{producto.get_imagen%}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="thumb">
                        </div>
                        <div class="ms-slide">
                            <img src="{% static 'unify-ecommerce/img/blank.gif' %}" data-src="{%if producto.get_imagen3%}{{producto.get_imagen3}}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="{{producto.get_nombre}}2">
                            <img class="ms-thumb" src="{%if producto.get_imagen%}{{producto.get_imagen%}{%else%}{% static 'unify-ecommerce/img/blog/28.jpg'%}{%endif%}" alt="thumb">
                        </div>
                    </div>
                    <!-- End Master Slider -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="shop-product-heading">
                    <h2>{{producto.get_nombre}}</h2>
                </div><!--/end shop product social-->


                <p>{{producto.get_descripcion}}</p><br>

                <ul class="list-inline shop-product-prices margin-bottom-30">
                    {% if producto.get_descuento %}
                    <li class="shop-red">${{producto.get_precio_descuento}}</li>
                    <li class="line-through">${{producto.get_precio}}</li>
                    {%else%}
                    <li class="title-price">${{producto.get_precio}}</li>
                    {%endif%}
                </ul><!--/end shop product prices-->
                {% if producto.get_tipo.es_librofisico%}
                <h3 class="shop-product-title">Cantidad</h3>
                {% endif%}
                <div class="margin-bottom-40">
                    <form name="f1" class="product-quantity sm-margin-bottom-20">
                        {% if producto.get_tipo.es_librofisico%}
                        <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty();' value='-'>-</button>
                        <input type='text' class="quantity-field" name='qty' value="1" id='qty'/>
                        <button type='submit' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty").value++;' value='+'>+</button>
                        {% endif%}
                    <button type="button" class="btn-u btn-u-sea-shop btn-u-lg">Agregar al carrito</button>
                    </form>
                </div><!--/end product quantity-->
                <br>
                <br>
                <p class="wishlist-category"><strong>Categoria:</strong><a href="#">{{producto.get_categoria}}</a></p>
            </div>
        </div><!--/end row-->
    </div>
</div>
<!--=== End Shop Product ===-->

<!--=== Content Medium ===-->
<div class="content-md container">
    <!--=== Product Service ===-->
    <div class="row margin-bottom-60">
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="fa fa-truck"></i>
            </div>
            <div class="product-service-in">
                <h3>Envio Gratis</h3>
            </div>
        </div>
        <div class="col-md-4 product-service md-margin-bottom-30">
            <div class="product-service-heading">
                <i class="icon-earphones-alt"></i>
            </div>
            <div class="product-service-in">
                <h3>Servicio Personalizado</h3>
            </div>
        </div>
        <div class="col-md-4 product-service">
            <div class="product-service-heading">
                <i class="icon-refresh"></i>
            </div>
            <div class="product-service-in">
                <h3>Devolucion Gratis</h3>
            </div>
        </div>
    </div><!--/end row-->
    <!--=== End Product Service ===-->
         <!-- Reviews -->
            <div class="tab-pane fade" id="reviews">
                <div class="product-comment margin-bottom-40">
                    <div class="product-comment-in">
                        <img class="product-comment-img rounded-x" src="{% static 'unify-ecommerce/img/team/01.jpg'%}" alt="">
                        <div class="product-comment-dtl">
                            <h4>Mickel <small>22 days ago</small></h4>
                            <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                            <ul class="list-inline product-ratings">
                                <li class="reply"><a href="#">Reply</a></li>
                                <li class="pull-right">
                                    <ul class="list-inline">
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="heading-md margin-bottom-30">Add a review</h3>
                <form action="{% static 'unify-ecommerce/php/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form sky-changes-4">
                    <fieldset>
                        <div class="margin-bottom-30">
                            <label class="label-v2">Name</label>
                            <label class="input">
                                <input type="text" name="name" id="name">
                            </label>
                        </div>

                        <div class="margin-bottom-30">
                            <label class="label-v2">Email</label>
                            <label class="input">
                                <input type="email" name="email" id="email">
                            </label>
                        </div>

                        <div class="margin-bottom-30">
                            <label class="label-v2">Review</label>
                            <label class="textarea">
                                <textarea rows="7" name="message" id="message"></textarea>
                            </label>
                        </div>
                    </fieldset>

                    <footer class="review-submit">
                        <label class="label-v2">Review</label>
                        <div class="stars-ratings">
                            <input type="radio" name="stars-rating" id="stars-rating-5">
                            <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-4">
                            <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-3">
                            <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-2">
                            <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                            <input type="radio" name="stars-rating" id="stars-rating-1">
                            <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                        </div>
                        <button type="button" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button>
                    </footer>
                </form>
            </div>
            <!-- End Reviews -->
        </div>
    </div>
</div><!--/end container-->
<!--=== End Content Medium ===-->

<!--=== Illustration v2 ===-->
<div class="container">
    <div class="heading heading-v1 margin-bottom-20">
        <h2>Product you may like</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p>
    </div>

    <div class="illustration-v2 margin-bottom-60">
        <div class="customNavigation margin-bottom-25">
            <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
            <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
        </div>

        <ul class="list-inline owl-slider-v4">
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/09.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/07.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$60.00</span>
                        <span class="title-price line-through">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/08.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/06.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/04.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="#"><img class="img-responsive" src="{% static 'unify-ecommerce/img/thumb/03.jpg'%}" alt=""></a>
                <div class="product-description-v2">
                    <div class="margin-bottom-5">
                        <h4 class="title-price"><a href="#">Double-breasted</a></h4>
                        <span class="title-price">$95.00</span>
                    </div>
                    <ul class="list-inline product-ratings">
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating-selected fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                        <li><i class="rating fa fa-star"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--=== End Illustration v2 ===-->
{%endblock%}

{%block javascript%}
<!-- Master Slider -->
	<script src="{% static 'unify-ecommerce/plugins/master-slider/masterslider/masterslider.min.js' %}"></script>
	<script src="{% static 'unify-ecommerce/plugins/master-slider/masterslider/jquery.easing.min.js' %}"></script>
    <script src="{% static 'unify-ecommerce/js/plugins/master-slider.js' %}"></script>
	<script src="{% static 'unify-ecommerce/js/forms/product-quantity.js' %}"></script>
    <script>
		jQuery(document).ready(function() {
			MasterSliderShowcase2.initMasterSliderShowcase2();
		});
	</script>
{%endblock%}
