      <!-- Footer -->
            <table width="700" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                <tr>
                    <td>
                        <table width="700"  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                            <tr>
                                <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 30px 10px 0px; " >
                                     Si tiene algún inconveniente o deseas darnos tu opinión sobre como podemos mejorar nuestros servicios, puede enviarnos un correo a <a href="malito:#">soporte@mdvglobal.com</a>, y responderemos tan pronto nos sea posible.
                                </td>
                            </tr>
                              <tr>
                                <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 10px 10px 0px; " >
                                     Si prefiere no recibir comunicaciones por correo electrónico de MDV Global, haga <a style="text-decoration: none; color: #4765a0;" href="{{site_root}}{% url 'unsubscribe' %}">click aquí</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 10px 50px 30px; " >
                                   Copyright © {{company}} 2017 Suipacha 2357 Córdoba Capital, Argentina.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--End Footer-->

            <div style="height:15px">&nbsp;</div><!-- divider -->
