{% extends 'index.html' %}
{% load staticfiles %}
    {% block contenido %}
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>{{contenido.get_nombre}}</h2>
        <p>{{contenido.get_descripcion}}</p>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            {%if permitido%}
                {% if contenido.get_tipo.es_audio%}
                    <audio src="{{contenido.get_archivo}}"></audio>
                {% elif contenido.get_tipo.es_documento%}
                    <a href="{{contenido.get_archivo}}" target="_blank">Ver Documento</a>
                {%else%}
                    <video src="{{contenido.get_archivo}}"></video>
                {%endif%}
            {%else%}
                <a href="{%url 'pay_plans'%}"><span class="label label-danger">Para ver el contenido debe actualizar su Suscripcion haciendo click aqui</span></a>
                <a href="{%url 'pay_plans'%}">
                    <img width="400" height="440" class="img-responsive center-block" src="{{contenido.get_imagen}}" alt="">
                </a>
            {%endif%}
            <small>{{contenido.get_acceso}},{{contenido.get_categoria}},{{contenido.get_tipo}}</small>
</div>
    </div>
</div>
{% endblock %}
