{% extends 'index.html' %}
{% load staticfiles %}
    {% block contenido %}
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>{{contenido.get_nombre}}</h2>
        <p>{{contenido.get_descripcion}}</p>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            {%if permitido%}
                {% if contenido.get_tipo.es_audio%}
                    <audio controls><source type="audio/mpeg" src="{{contenido.get_archivo}}">Tu navegador no soporta este elemento</audio>
                {% elif contenido.get_tipo.es_documento%}
                    <a href="{{contenido.get_archivo}}" class="btn btn-u rounded-4x" target="_blank">Ver Documento</a>
                {%else%}
                    <video controls><source type="video/mp4" src="{{contenido.get_archivo}}"></video>
                {%endif%}
            {%else%}
                {% if user.is_authenticated %}
                <h3 >Para ver el contenido debe actualizar su Suscripcion haciendo <a href="{%url 'pay_plans'%}">click aqui </a></h3>
                {%else%}
                <h3>Para ver el contenido debe registarse haciendo <a href="{% url 'pay_plans'%}">click aqui</a></h3>
                {%endif%}
                <a href="{%url 'pay_plans'%}">
                    <img width="400" height="440" class="img-responsive center-block" src="{{contenido.get_imagen}}" alt="">
                </a>
            {%endif%}
            <p><small>{{contenido.get_acceso}},{{contenido.get_categoria}},{{contenido.get_tipo}}</small></p>
</div>
    </div>
</div>
{% endblock %}
