{% extends 'index.html'%}
{%load staticfiles%}
{%block style%}ligth{%endblock%}

{%block head %}
	<link rel="stylesheet" href="{% static 'unify/plugins/image-hover/css/img-hover.css'%}">
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="{% static 'unify/css/pages/page_job.css'%}">

{%endblock%}

{%block form%}
<form action="{% url 'contenido_mostrar'%}" method="GET" id="form">
    <input type="text" class="animated fadeIn form-control" placeholder="Buscar un contenido..." name="q" id="q" value="{{q}}">
    <input type="hidden" name="tipo" id="tipo_id" value="{{tipo_q}}">
    <input type="hidden" name="categoria" id="categoria_id" value="{{categoria_q}}">
    <input type="hidden" name="comienzo" id="comienzo_id" value="{{comienzo}}">
    <input type="hidden" name="acceso" id="acceso_id" value="{{acceso}}">
</form>
{%endblock%}


{%block contenido%}
<!--=== Job Img ===-->
		<div class="job-img">
			<div class="text-center">
				<h2 class="promo-text-v2 animated fadeInUp wow" style="padding-top:80px;" data-wow-duration="0.5s" data-wow-delay="0.5s"><strong style="color:#FFF !important;">RECURSOS</strong></h2>
			</div>
			<div class="job-img-inputs">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 md-margin-bottom-10">
							<input type="text" placeholder="Busca el contenido que necesites" value="{{q}}" id="q2_id" class="form-control rounded-4x">
						</div>
						<div class="col-sm-4">
							<button type="button" id="btn-enviar" class="btn-u btn-block btn-u-dark rounded-4x"> Buscar Contenido</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--=== End Job Img ===-->
		<div class="container bg-color-light">
		<div class="row">
			<div class="col-md-3">
			<!-- Job Content -->
			<div class="headline"><h2>Filtrar Por</h2></div>
			<div class="row job-content margin-bottom-40">
				<div class="col-md-10 col-sm-12 col-md-offset-1 md-margin-bottom-40">
					<h3 class="heading-md"><strong>Tipo</strong></h3>
					<ul class="list-unstyled categories">
						{%for tipo in tipos%}
						<li><a href="#">
							{%ifequal tipo.get_nombre tipo_q%}
								<input type="checkbox" class="btn-r-tipo" id="{{tipo}}" name="checkbox" checked/>
							{%else%}
								<input type="checkbox" class="btn-tipo" id="{{tipo}}" name="checkbox"/>
							{%endifequal%}
							{% include 'tipo.html'%}
							{{tipo}}</a>
							<small class="hex">({{tipo.get_cantidad}} contenidos)</small>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="col-md-10 col-sm-12 col-md-offset-1 md-margin-bottom-40">
					<h3 class="heading-md"><strong>Categoria</strong></h3>
					<ul class="list-unstyled categories">
						{%for cat in categorias %}
						<li><a href="#">{%ifequal cat.get_nombre categoria_q%}
										<input type="checkbox" id="{{cat}}" class="btn-r-categoria" name="checkbox" checked/>
									{%else%}
										<input type="checkbox" id="{{cat}}" class="btn-categoria" name="checkbox" />
									{%endifequal%}
									{{cat}}</a> <small class="hex">({{cat.get_cantidad}} contenidos)</small>
						</li>
						{%endfor%}
					</ul>
				</div>
				<div class="col-md-10 col-sm-12 col-md-offset-1 md-margin-bottom-40">
					<h3 class="heading-md"><strong>Acceso</strong></h3>
					<ul class="list-unstyled categories">
						<li>
							<a href="#">
							<input type="checkbox" id="Ministerial" class="btn-r-acceso" name="checkbox"
								{% if acceso == 'Ministerial' %} checked {%endif%}/>
								Ministerial
							</a>
						</li>
						<li>
							<a href="#">
							<input type="checkbox" id="Premium" class="btn-r-acceso" name="checkbox"
							{% if acceso == 'Premium' %} checked {%endif%}/>
								Premium
							</a>
						</li>
						<li>
							<a href="#">
							<input type="checkbox" id="Gratis" class="btn-r-acceso" name="checkbox"
							{% if acceso == 'Gratis' %} checked {%endif%}/>
								Gratis
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Job Content -->
			</div>
			<div class="col-md-9">
		<!--=== Job Team ===-->
		<div class="bg-color-light">
				<div class="title-box-v2">
					<div class="headline">
						<h2>{%if q%}Resultados de busqueda
							<span class="color-green">{{q}}{%else%}Ultimos Contenidos{%endif%}</span>
						</h2>
					</div>
				</div>
			<style>
				.etiqueta{
					top:20px;
					right:-5px;
					color:#fff;
					font-size:14px;
					padding: 3px 8px;
					font-weight:600;
					position:absolute;
					text-transform: uppercase;
					background-color:rgba(0,162,237,0.5)
				}
			</style>
				{%for cont in contenido%}
				{% if forloop.counter0|divisibleby:4 %}	
				<div class="row">
				{%endif%}
					<!-- Team v2 -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="team-v2">
							<a href="{% url 'contenido_ver_mas' contenido_id=cont.id%}">
								<img class="img-responsive" src="{{cont.get_imagen}}" alt="{{cont.get_nombre}}" />
								<div class="etiqueta">{{cont.get_acceso}}</div>
							</a>
							<div class="inner-team">
								<a href="{% url 'contenido_ver_mas' contenido_id=cont.id%}"><h3>{{cont.get_nombre}}</h3></a>
								<small class="color-green" style="color:rgb(0,162,237)">{% include 'tipo.html'%} {{cont.get_categoria}}</small>
								<div class="pull-left">
									<p style="max-width:240px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">
										{{cont.get_descripcion}}
									</p>
								</div>
								<br>
								<hr>
								<a href="{% url 'contenido_ver_mas' contenido_id=cont.id%}">
									<button class="btn btn-skype-inversed rounded-4x btn-normal">VER</button>
								</a>
							</div>
						</div>
					</div>
					<!-- End Team v2 -->
				{% if forloop.counter0|divisibleby:4 %}	
				</div>
				{%endif%}
			   {%endfor%}
				{% if contenido|length|divisibleby:4 %}	
				</div>
				{%endif%}
			
					{% if contenido%}
							<!-- Begin Inner Results -->
				<div class="margin-bottom-30"></div>
				<div class="text-center">
					<ul class="pagination">
						<li><a href="#" class="btn-atras">«</a></li>
						<li class="active"><a href="#" >{{pagina}}</a></li>
						<li><a href="#"  class="btn-sig">»</a></li>
					</ul>
				</div>
				{%endif%}
			</div>
		</div>
		<!--=== End Job Team ===-->
</div>
</div>


<!--/container-->
<!--=== End Search Results ===-->
{%endblock%}

{%block javascript%}
<script type="text/javascript" src="{% static 'unify/plugins/image-hover/js/touch.js'%}"></script>
<script type="text/javascript" src="{% static 'unify/plugins/image-hover/js/modernizr.js'%}"></script>

<script type="text/javascript" src="{% static 'unify/js/plugins/style-switcher.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		StyleSwitcher.initStyleSwitcher();
	});
</script>


<script>
$(document).ready(function(){
let formulario = document.getElementById("form");

    $(".btn-tipo").click(function(){
        $("#tipo_id").val(this.id);
        formulario.submit();
    });
    $(".btn-categoria").click(function(){
        $("#categoria_id").val(this.id);
        formulario.submit();
    });
    $(".btn-r-tipo").click(function(){
        $("#tipo_id").val(this.id);
        formulario.submit();
    });
    $(".btn-r-categoria").click(function(){
        $("#categoria_id").val(this.id);
        formulario.submit();
    });

    $(".btn-r-acceso").click(function(){
        $("#acceso_id").val(this.id);
        formulario.submit();
    });
    $(".btn-sig").click(function(){
        let comienzo = parseInt($("#comienzo_id").val()) + parseInt(9);
        $("#comienzo_id").val(comienzo);
        formulario.submit();
    });
    $(".btn-atras").click(function(){
        let comienzo = parseInt($("#comienzo_id").val()) - parseInt(9);
        $("#comienzo_id").val(comienzo);
        formulario.submit();
    });
    $("#btn-enviar").click(function(){
        $("#q").val($("#q2_id").val());
        formulario.submit();
    });



});
</script>

{%endblock%}

