{% load staticfiles %}
{% load google_analytics %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Codipay es una herramienta de marketing digital diseñada para ayudar a los negocios a conseguir nuevos clientes y vender más, a través de las redes sociales">
    <meta name="Keywords" content="Codipay">
    <link rel="icon" type="image/png" href="{% static 'common/img/favicon.png' %}" />

    <title>Cómo conseguir más clientes - Acerca de nosotros | Codipay</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'common/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>






   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% google_analytics %}
</head>

<body>

    <!-- Navigation -->
    {% include 'blog_navbar.html' %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "blog/img/Codipay.png" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Codipay</h1>
                        <hr class="small">
                        <span class="subheading">Codipay es una herramienta de marketing digital diseñada para ayudar a los negocios a conseguir nuevos clientes y vender más, a través de las redes sociales.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Somos una empresa tecnológica basada en Argentina, operando desde aquí para toda Latinoamérica, Estados Unidos y España.  Fundada por tres emprendedores tecnológicos, un colombiano y dos argentinos, entusiastas de la disrupción tecnológica y por cómo ésta puede cambiar el mundo.</p>
                <p>Vivimos eternamente apasionados por los nuevos modelos de negocios, el marketing y la estrategia digital, y por cómo a través de esto podemos ayudar a emprendedores, pequeñas y medianos empresas de retail, a crecer y escalar sus negocios en el mercado.</p>
               
                <h2 class="section-heading">Founders</h2>

                <h3>Samir Angulo | Co-Founder & CEO en Codipay.</h3>
                <p>Growth Business Engineer & Digital Products Designer. Experto en Marketing, Business Intelligence y Estrategia Digital. Entrepreneur, foodie, traveler & Music Lover. </p>

                <h3>Gastón Zárate | Co-Founder & CTO en Codipay.</h3>
                <p>Full-stack Developer. Entusiasta de la tecnologia, la inteligencia artificial, cuya filosofia de vida es think different.</p>

                <h3>Javier Vidal | Co-Founder & COO en Codipay.</h3>
                <p>Full-stack Developer & Entrepreneur. Apasionado por las nuevas tecnologias, el arte y la comunicación.</p>

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
     <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a href="https://www.facebook.com/Codipay-805536799583994/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/codipay/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Codipay_co" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCbfuP8w4z2kC8SpWcQIa4WQ" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>

                    </ul>
                    <p class="copyright text-muted">Copyright &copy; {{company}} 2017</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'common/js/jquery-3.0.0.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'blog/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
</body>

</html>
