{%extends 'pay_payment.html'%}

{%block title %}DONA{%endblock%}
{%block subtitle %}Aqui puedes abonar tu donacion de ${{cantidad}}ARS, solo debes escoger la forma de pago que mas
te parezca.{%endblock%}


{%block producto %}
{%block producto_pay %}
{{donacion.get_titulo}}
{%endblock%}
{%endblock%}

{%block precio %}
{%block precio_pay %}
${{cantidad}} ARS
{%endblock%}
{%endblock%}

{%block descripcion%}
{%block descripcion_pay%}
{{donacion.get_descripcion}}
{%endblock%}
{%endblock%}

{%block btn_paypal%}Donar via Paypal{%endblock%}
{%block btn_tar%} DONAR{%endblock%}