{%extends 'index.html'%}
{% load staticfiles %}

{%block head%}
<!-- CSS Page Style -->
	<link rel="stylesheet" href="{% static 'unify/css/pages/pricing/pricing_v6.css'%}">
	<link rel="stylesheet" href="{% static 'unify/css/pages/pricing/pricing_v7.css'%}">
	<link rel="stylesheet" href="{% static 'unify/css/pages/pricing/pricing_v8.css'%}">

{%endblock%}

{%block contenido%}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="text-center">Suscripciones</h1>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
    <!-- Pricing Table-v6 -->
    <div class="row margin-bottom-10 no-space-pricing-v6">
        <div class="col-md-4 col-sm-4 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-dark-blue">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-graduation"></i>
                    <h2 class="heading-md">GRATIS</h2>
                    <p>Acceso a poco contenido</p>
                    <h3><span>$</span>0<i> ARS</i></h3>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="fa fa-arrow-down"></span>Videos</li>
                        <li><span class="fa fa-arrow-down"></span>Documentos</li>
                        <li><span class="fa fa-arrow-down"></span>Audios</li>
                        <li><span class="fa fa-check"></span>Cotenido Gratis</li>
                        <li><span class="fa fa-times"></span>Cotenido Premium</li>
                        <li><span class="fa fa-times"></span>Cotenido Ministerial</li>
                    </ul>
                    <a href="{% url 'login_page'%}" class="btn-u btn-brd btn-u">Suscribirme</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-dark">
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-diamond"></i>
                    <h2 class="heading-md">PREMIUM</h2>
                    <p>Acceso a contenido exclusivo</p>
                    <h3><span>$</span>250<i> ARS/Mes</i></h3>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="fa fa-arrow-up"></span>Videos</li>
                        <li><span class="fa fa-arrow-up"></span>Documentos</li>
                        <li><span class="fa fa-arrow-up"></span>Audios</li>
                        <li><span class="fa fa-check"></span>Cotenido Gratis</li>
                        <li><span class="fa fa-check"></span>Cotenido Premium</li>
                        <li><span class="fa fa-times"></span>Cotenido Ministerial</li>
                    </ul>
                    <a href="{% url 'pay_premium' %}" class="btn-u btn-brd btn-u">Suscribirme</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-yellow">
                    <i class="icon-custom icon-color-light rounded-x fa fa-user"></i>
                    <h2 class="heading-md">MINISTERIAL</h2>
                    <p>Acceso a contenido del mas alto nivel</p>
                    <h3><span>$</span>750<i> ARS/Mes</i></h3>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="fa fa-arrow-up"></span>Videos <span class="fa fa-arrow-up"></span></li>
                        <li><span class="fa fa-arrow-up"></span>Documentos <span class="fa fa-arrow-up"></span></li>
                        <li><span class="fa fa-arrow-up"></span>Audios <span class="fa fa-arrow-up"></span></li>
                        <li><span class="fa fa-check"></span>Cotenido Gratis</li>
                        <li><span class="fa fa-check"></span>Cotenido Premium</li>
                        <li><span class="fa fa-check"></span>Cotenido Ministerial</li>
                    </ul>
                    <a href="{% url 'pay_ministerial' %}" class="btn-u btn-brd btn-u">Suscribirme</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block javascript%}
    <script type="text/javascript" src="{% static 'unify/js/plugins/style-switcher.js'%}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			StyleSwitcher.initStyleSwitcher();
		});
	</script>
{%endblock%}